body {
    margin: 0;
    padding: 0;
    font-family: "Futura PT",sans-serif;
    color: white;
    line-height: 1.45;
    display: table;
    width: 100%;
}

.container {
    width: 75% !important;
    margin: auto;
    overflow: hidden;
}

.fa {
    padding: 0px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: rgba(31,31,31,.6);
    margin: 3px;
}

.fa-angle-right {
    float: right;
}

#section-one {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    width: 75%;
    margin: auto;
    position: sticky;
    top: 20px;
    background: rgba(255, 255, 255, 0.856);
    padding: 10px 0px;
    border-radius: 18px;
    height: 38px;
}

header #nav-heading {
    float: left;
    background: black;
    padding: 5px 10px 5px 13px;
    color: white;
    border-radius: 18px;
    border-bottom-right-radius: 0px;
    font-size: 1rem;
    font-weight: 600;
    margin: 2px 20px 0px 10px;
    letter-spacing: .01em;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    margin: 6px 0px;
}

header .social_media {
    float: right;
}

.fa-bars {
    display: none !important;
}

.social_media .fa {
    margin: 10px 12px;
}

.dropbtn {
    background: rgba(0, 0, 0, 0);
    color: rgba(31,31,31,.6);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    margin: 0px 2px 0px 2px;
    font-family: "Futura PT",sans-serif;
}

.dropdown {
    position: re;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 180px;
    background-color: white;
    margin: 0px 4px;
    border-radius: 3px;
    text-align: left;
    padding: 20px 0px;
    position: absolute;
    z-index: +100;
}

.dropdown-content a, .dropdown-con {
    color: rgba(31,31,31,.6);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    margin: 0px 10px 0px 10px;
    font-weight: 500;
}

ul ul {
    position: relative;
    left: 100%;
    margin-left: 20px;
    padding: 10px;
    top: -32px;
    background-color: white;
    width: 180px;
    height: 30px;
    display: none !important;
}

.expand {
    padding-bottom: 100;
}

.dropdown-content  li {
    display: block;
    
}

.expand:hover ul ul {
    display: block;
    background: green;
}

.dropdown-content a:hover { color: #1F1F1F !important;}
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { color: #1F1F1F; cursor: pointer;}

.social_media .fa{
    cursor: pointer;
}

#front-page {
    position: absolute;
    top: 75%;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.226) 10%,  rgb(0, 0, 0));
    padding-bottom: 50px;
    padding-top: 50px;
}

#location {
    letter-spacing: 2px;
    float: left;
    margin: 0;
    font-family: Nunito, sans-serif;
}

#description {
    font-size: 3.15733rem;
    font-weight: 500;
    float: left;
    margin: 0;
}

#front-page .info {
    width: 500px;
}

#main-button {
    border: 2px solid white;
    width: auto;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.192);
    color: white;
    font-family: "Futura PT",sans-serif;
    font-size: 0.75019rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    float: right;
    margin: 20px 0px;
    padding: 0px 15px;
}

#main-button:hover {
    background-color: white;
    color: black;
    transition-delay: 100ms;
    cursor: pointer;
}

@media(max-width: 1000px) {
    header nav ,.social_media {
        display: none;
    }

    .fa-bars {
        display: block !important;
        float: right;
        margin: 10px 15px;
        cursor: pointer;
    }

    .fa-bars:hover {
        color: rgb(143, 143, 143);
    }

    #main-button {
        float: none;
    }
 
    #front-page {
        width: 100%;
    }

    #front-page .info {
        float: left;
        position: relative;
        z-index: +1;
    }

    #description {
        width: 80%;
    }
}

#section-two {
    height: 100%;
    color: black;
}
